<h1>Recent News</h1>
<% @statuses.each do |status| %>
  <tr>
    <h1 style="text-align:center;"><%= status.name %></h1>
    <h2><%= status.context%></h2>
    <h2><%= status.created_at %></h2>
    <td><%= link_to 'Show', status %></td>
    <td><%= link_to 'Edit', edit_status_path(status) %></td>
    <td><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status', new_status_path %>
