<p>
  <p><%= @status.context %></p>
</p></br>

<p>
  <b>By :</b>
  <%= @status.user_name %>
</p>

<b><%= time_ago_in_words(@status.created_at) %></b></br></br>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%#= link_to('delete', destroy_status_path, :method => :delete) %> |
<%= link_to 'Back', statuses_path %>
