<!DOCTYPE html>
<html>
<head>
  <title>Oriwininger</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% if user_signed_in? %>
          <a class="brand" href="http://localhost:3000/"><%= current_user.profile_name %></a>
          <% else %>
          <a class="brand">Treebook</a>
          <% end %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="localhost:3000/">Feed</a></li>  
              <% if user_signed_in? %>
              <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <%= current_user.profile_name %>
                <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- dropdown menu links -->
                    <% if current_user.user_type == "admin" %>
                      <li class="divider"></li>
                      <li><a href="http://localhost:3000/admins/dashboards/bo">dashboard</a></li>
                     <% end %>
                    <% if @action == "show" and @status.user_id == current_user.id %>
                      <li><a href="<%= request.url + "/edit"%>">Edit</a></li>
                      <li><a href="<%= request.url + "/edit"%>">Delete</a></li>
                      <% else %>
                      <li class="divider"></li>
                      <li class="disabled"><a href="#">Edit</a></li>
                      <li class="disabled"><a href="#">Delete</a></li>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
                     <li><a href="http://localhost:3000/new">new post</a></li>  
                  </ul>
                  </div>
              <% end %>
        </div><!--/.nav-collapse -->
         </div>
          </div>
            </div>
            	<div class="container">
                <% flash.each do |type, message| %>
                  <div class="alert <%= flash_class type %>">
                   <button class="close" data-dismiss="alert">x</button>
                    <%= message %>
                  </div>
                <% end %>
      <%= yield %>
			</div>
            </body>     
</html>